@font-face {
  font-family: "Godo";
  font-weight: 400;
  src: url("../fonts/GodoM.woff2");
}

@font-face {
  font-family: "Godo";
  font-weight: 700;
  src: url("../fonts/GodoB.woff2");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Godo";
  line-height: 1.35;
}

a {
  color: inherit;
}
